 <h1>
  {{title}}
</h1>
<!-- <mor-users></mor-users>
<mor-posts></mor-posts> -->
<nav>
  <a routerLink="/users" routerLinkActive="active" >Users</a>
  <a routerLink="/posts" routerLinkActive="active" >Posts</a>
  <a routerLink="/products" routerLinkActive="active" >Products</a>
</nav>
<router-outlet></router-outlet>