<!-- <p>
  post works!
</p> -->
<span *ngIf= "isEdit">  <input type="text" [(ngModel)]="post.title">
<input type="text" [(ngModel)]= "post.body"> 
<button (click)="cancelEdit()"> Cancel</button> </span>
 <span *ngIf= "!isEdit"> Title:{{post.title}}, body:{{post.body}}</span>  
<button (click)="sendDelete()"> Delete</button>
<button (click)= "toggleEdit()"> {{editButtonText}} </button>