<div>
  <h3>Products list:</h3>
   <table border="1">
        <tr>
          <th>Pid</th>
          <th>Pname</th>
          <th>Cost</th>
          <th>CategoryId</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td> {{product.categoryId}} </td> 
            <mor-product [product]= "product" (deleteEvent)="deleteProduct($event)"></mor-product>        
     </tr>
  </table>
</div>


<div>
  <h3>Products list:</h3>
   <table border="1">
        <tr>
          <th>Pid</th>
          <th>Pname</th>
          <th>Cost</th>
          <th>CategoryId</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
          <td *ngFor = "let product of product.categoryName">
            {{(product | async)?.cname}}
          </td>
            
          <!-- <td *ngFor = "let name of product.categoryNames">
            {{(name | async)?.cname}} </td> -->
            <mor-product [product]= "product" (deleteEvent)="deleteProduct($event)"></mor-product>           
     </tr>
  </table>
</div>
